
name: test and lint
on:
    workflow_call:
jobs:
    react:
        name: React testing and linting
        runs-on: ubuntu-latest
        steps:
            - name: Code checkout
              uses: actions/checkout@v6

            - name: install dependencies
              working-directory: frontend
              run: npm ci
            - name: Test
              working-directory: frontend
              run: npm run test
            - name: lint
              working-directory: frontend
              run: npm run lint
              


